.home-container {
  margin-top: 90px;
  padding-top: 10px;
  background-color: #f8fafc;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 140px;
  left: 0;
}

.new-button {
  background-color: #dbeafe;
  border-style: none;
  margin-left: 10px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 100px;
}

.plus-icon {
  height: 18px;
  width: 18px;
}

.new-tag {
  font-family: 'Bree Serif';
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.main-slide-container {
  position: fixed;
  margin-left: 250px;
}

.main-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  background-size: cover;
  width: 700px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 15px;
}

.main-slide-heading {
  color: #0967d2;
  font-family: 'Bree Serif';
  margin-bottom: 0;
}

.main-slide-description {
  color: #0f172a;
  font-family: 'Bree Serif';
  font-size: 20px;
}
